[Unit]
Description=OmniAPI service

[Service]
Environment="PATH=/root/bin:/root/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
ExecStart=/root/omniapi/startApi.sh
PIDFile=/tmp/omniapi.pid
User=root
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
